<!-- views/dashboard-create.handlebars -->

{{> navbar}}

<h1>Create a New Blog Post</h1>

<form action="/api/posts" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" required>

  <label for="content">Content:</label>
  <textarea name="content" rows="4" cols="50" required></textarea>

  <button type="submit">Create Post</button>
</form>

<a href="/dashboard">Back to Dashboard</a>

{{> footer}}
